@use 'sass:color';

.contact-page {
  font-family: 'Inter', sans-serif;
  // padding: 16px;
  
  .contact-info-header {
    padding: 2rem 0;
    text-align: center;
    
    .contact-info-item {
      padding: 0.5rem 1rem;
      background-color: var(--primary-color) !important; // Darker yellow/orange from Figma
      border-radius: 0.7rem !important;
      border: none;
      box-shadow: #fcbd01ba 0.1rem 0.1rem 1.6rem 0.25rem;      
      margin-bottom: 1rem;
      transition: all 0.3s ease;
      flex-grow: 1;
      
      &:hover {
        transform: translateY(-5px);
        box-shadow: #fcbd01dd 0.1rem 0.1rem 1.6rem 0.25rem;      
      }
      
      .icon-container {
        margin-bottom: 1.5rem;
        
        i {
          font-size: 1.8rem;
          // background-color: #fff;
          width: 3.2rem;
          height: 3.2rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          color: #333;
          // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }
      }
      
      h3 {
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1rem;
        color: #333;
        letter-spacing: 1px;
      }
      
      p {
        font-size: 1.1rem;
        margin-bottom: 0;
        color: #333;
        font-weight: 600;
        line-height: 1.5;
      }
    }
  }
  
  .contact-content {
    padding-bottom: 3rem;
    
    .contact-form-container {
      padding: 1rem;
      
      .form-label {
        font-size: 0.875rem;
        font-weight: 600;
        color: #ffffffec;
      }
      
      .form-control {
        padding: 0.75rem 1rem;
        border: 1px solid #ced4da;
        border-radius: 0.72rem;
        box-shadow: #fcbd01ba 0.1rem 0.1rem 1.6rem 0.25rem;
        
        &:focus {
          box-shadow: 0 0 0 0.25rem var(--primary-color);
          border-color: var(--primary-color);
        }
      }
      
      .submit-button {
        background-color: var(--primary-color);
        border: none;
        padding: 0.75rem 1.5rem;
        font-weight: 600;
        width: 100%;
        margin-top: 1rem;
        transition: background-color 0.3s ease;
        
        &:hover {
          background-color: color.adjust(#FCBD01, $lightness: -10%);
        }
      }
    }
    
    .map-container {
      padding: 1rem;
      
      .google-map {
        width: 100%;
        height: 100%;
        min-height: 400px;
        border: none;
        border-radius: 1rem;
        overflow: hidden;
        
        iframe {
          border: none;
        }
      }
    }
  }
}

/* Responsive adjustments */
@media (max-width: 767.98px) {
  .contact-info-header {
    .contact-info-item {
      // margin-bottom: 1.5rem;

      // box-shadow: #fcbd016f 0.1rem 0.1rem 1.6rem 0.25rem !important;

    }
  }
  
  .map-container {
    margin-top: 2rem;
  }
}