.homepage {
  // Hero Section
  .hero-section {
    display: flex;
    background-color: #000;
    color: #fff;
    background: linear-gradient(to bottom, #000000, #333333), url("/src/assets/images/bg_pattern.png") no-repeat center center;
    background-size: cover;
    background-blend-mode: overlay;
    position: relative;
    overflow: hidden;
    height: 700px;
    max-height: 1000px;

    .container {
      position: relative;
      z-index: 2;
    }

    .row {
      // min-height: 500px; // Set a minimum height for the hero section
    }

    .search-bar{
      background: transparent;
      color: white !important;
      background: linear-gradient(to right, #272727 0%, #333333 100%);
      border: #000000;
      max-width: 300px;
      
      &::placeholder {
        color: #c4c4c4;
      }
    }
    
    .hero-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3rem 0;
      
      h1 {
        font-size: 3rem;
        font-weight: bold;
      }
      
      .hero-stats {
        display: flex;
        gap: 1rem;
        margin: 1rem 0;
      }
    }
    
    .hero-image {
      position: relative;
      height: 100%;
      overflow: hidden;
      
      img {
        position: absolute;
        top: 0;
        right: 0;
        height: auto;
        width: 100%;
        max-width: none;
        object-fit: cover;
        object-position: center right;
      }
    }
  }

  //about-section
  .about-section {
    display: flex;
    background-color: #000;
    color: #fff;
    background: linear-gradient(to bottom, #131313, #000000), url("/src/assets/images/bg_pattern.png") no-repeat center center;
    background-size: cover;
    background-blend-mode: overlay;
    position: relative;
    overflow: hidden;
  }

  // Featured Products Section
  .featured-products {
    text-align: center;
    padding: 3rem 0;
    
    .beard-wax-highlight {
      display: flex;
      align-items: center;
    }
    
    .bottle-image {
      width: 300px;
      position: absolute;
      top: 395px;
      right: 50px;
    }
  }

  .product-benefits {
    background-color: var(--primary-color);
    padding-top: 50px;
    padding-bottom: 50px;
  }

  // Responsive Adjustments
  @media (max-width: 768px) {
    .hero-section {
      .row {
        flex-direction: column;
      }
      
      // .hero-content {
      //   width: 100%;
      //   padding-bottom: 1rem;
      // }
      
      // .hero-image {
      //   height: 300px;
      //   width: 100%;
        
      //   img {
      //     position: relative;
      //     width: 100%;
      //     height: 100%;
      //     object-position: center top;
      //   }
      // }
    }
  }
}

/* Extra small devices (phones, 320px and up) */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .homepage .hero-section {
    .hero-image {
      display: none;
    }
  }

  .hero-section {
    max-height: 550px !important;
  }
  
  .bottle-image {
    width: 200px !important;
    position: absolute !important;
    top: 300px !important;
    right: -20px !important;
  }
}

/* Small devices (large phones, 480px and up) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .bottle-image {
    top: 300px !important;
    right: 10px !important;
    width: 200px !important;
  }

  .hero-section .hero-content {
    margin-top: 50px !important;
  }

  .hero-section {
    max-height: 650px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .bottle-image {
    top: 410px !important;
    right: 30px !important;
    width: 200px !important;
  }

  .hero-section .hero-content {
    margin-top: 50px !important;
  }

  .hero-section {
    max-height: 500px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .homepage .hero-section {
    .row {
      display: flex;
      align-items: stretch;
    }
    
    .hero-content, .hero-image {
      flex: 0 0 50%;
      max-width: 50%;
    }
    
    .hero-image {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1020px) and (max-width: 1025px) and (min-height: 700px) and (max-height: 770px) {
  .bottle-image {
    top: 300px !important;
    right: 50px;
  }

  .hero-section {
    margin-top: -80px !important;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .bottle-image {
    top: 280px !important;
    right: 50px;
  }

  .hero-section .hero-content {
    margin-top: 50px !important;
  }

  .hero-section {
    margin-top: -80px !important;
    max-height: 500px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .bottle-image {
    top: 378px !important;
    right: 50px;
  }

  .hero-section .hero-content {
    margin-top: 100px !important;
  }

  .hero-section {
    margin-top: -80px !important;
    max-height: 600px !important;
  }
}

/* 2K resolution */
@media only screen and (min-width: 1400px) and (max-width: 1899px) {
  .bottle-image {
    top: 378px !important;
    right: 50px;
  }

  .hero-section .hero-content {
    margin-top: 100px !important;
  }

  .hero-section {
    margin-top: -80px !important;
    max-height: 600px !important;
  }
}

/* Full HD and similar resolutions */
@media only screen and (min-width: 1900px) and (max-width: 2299px) {
  .bottle-image {
    width: 300px !important;
    top: 378px !important;
    right: 200px !important;
  }

  .hero-section .hero-content {
    margin-top: 100px !important;
  }

  .hero-section {
    margin-top: -80px !important;
    max-height: 600px !important;
  }
}

/* 4K resolution */
@media only screen and (min-width: 2300px) {
  .bottle-image {
    width: 350px !important;
    top: 311px !important;
    right: 400px !important;
  }

  .hero-section .hero-content {
    margin-top: 100px !important;
  }

  .hero-section {
    margin-top: -80px !important;
    max-height: 600px !important;
  }
}